
*{
    color: #f6f7f9;
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #282828;
}
#root{
  height: 100%;
  width: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}